<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
  rel="stylesheet"
/>

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo Image on the Left -->
    <img src="./images/sglogo.png" alt="Logo" class="navbar-logo" />

    <!-- Restaurant Name -->
    <span class="navbar-brand">Sanjay's Gourmet</span>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-links">
        <!-- Navigation Links styled as buttons -->
        <a
          href=""
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="btn btn-nav"
          >Home</a
        >
        <a
          href=""
          routerLink="/menu"
          routerLinkActive="active"
          class="btn btn-nav"
          >Menu</a
        >
        <a
          href=""
          routerLink="/about"
          routerLinkActive="active"
          class="btn btn-nav"
          >About</a
        >
        <a
          href=""
          routerLink="/orders"
          routerLinkActive="active"
          class="btn btn-nav"
          >Orders</a
        >
      </div>
    </div>
  </div>
</nav>
